{% extends 'layouts.html' %}
{% block body %}
<div class="container">
    <div class=" col-md-12">
        <h1 align='center'>FLASK BLOG</h1>
        <hr>
        <p align='justify'><h4>What is Bootstrap?</h4> Bootstrap is a free front-end framework for faster and easier web development Bootstrap includes HTML
        and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other,
        as well as optional JavaScript plugins Bootstrap also gives you the ability to easily create responsive designs <h4>What is Responsive
        Web Design?</h4>Responsive web design is about creating web sites which automatically adjust themselves to look good on all devices,
        from small phones to large desktops. <h4>Bootstrap History</h4> Bootstrap was developed by Mark Otto and Jacob Thornton at Twitter,
        and released as an open source product in August 2011 on GitHub. In June 2014 Bootstrap was the No.1 project on GitHub!
</p>
    </div>
</div>
{% endblock %}